{% include "common/header.twig" %}

<div class="gui-container">

    {% include "common/heading.twig" %}
    {% include "common/gui-user.twig" %}

    <section class="gui-box">
        <h2>Add object to track</h2>
        <form action="" class="gui-form">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="">
            <input type="submit" value="">
        </form>
    </section>

    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}