{% include "common/header.twig" %}

<div class="gui-container">
    {% include "common/heading.twig" %}
    <section class="gui-box">
        <h2>Routes management</h2>
    </section>
    {% include "common/footing.twig" %}
</div>

{% include "common/footer.twig" %}
