/* region >> VARIABLES */

$titleFont: "Deutsche Bahn Title Font", sans-serif;
$normalFont: "Roboto", sans-serif;
$condensedFont: "Roboto Condensed", sans-serif;

/* endregion */
/* region >> MIXINS */
@mixin shadow($step) {

    @if $step == 0 {
        box-shadow: none;
    }
    @if $step == 1 {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    @if $step == 2 {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    @if $step == 3 {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    @if $step == 4 {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    @if $step == 5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    @if $step > 5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

}

/* endregion */

/* region FONT FACES*/

@font-face {
    font-family: 'Deutsche Bahn Title Font';
    src: url('../fonts/Changa/Changa-SemiBold.ttf.woff') format('woff'),
    url('../fonts/Changa/Changa-SemiBold.ttf.svg#Changa-SemiBold') format('svg'),
    url('../fonts/Changa/Changa-SemiBold.ttf.eot'),
    url('../fonts/Changa/Changa-SemiBold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/RobotoCondensed/RobotoCondensed-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialFont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialFont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialFont/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialFont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* endregion */
/* region > TAGS */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: $normalFont;
    background: url(../img/backgrounds/2.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #292929;
}

/* endregion */
/* region UNIVERSAL GUI */
.gui-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

    .gui-box {
        @include shadow(1);
        background-color: rgba(255, 255, 255, 0.9);
        margin: 2px;
        min-height: 50px;
        width: 350px;
        padding: 10px 20px;
        &.gui-warning {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background-color: rgba(236, 27, 45, 0.9);
        }
        &.gui-success {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background-color: rgba(0, 199, 0, 0.9);
        }
        &.title-box {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            .logo {
                height: 40px;
                margin: 0 10px;
            }
            .title {
                color: #444444;
                text-transform: uppercase;
                font-size: 30px;
                font-family: $titleFont;
            }
        }
        &.footer-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            user-select: none;

            .icon-container {
                font-weight: bold;
                font-family: $titleFont;
                font-size: 30px;
                letter-spacing: -7px;
                margin-right: 15px;
                .icon {
                    &:nth-of-type(1) {
                        color: #D7216B;
                    }
                    &:nth-of-type(2) {
                        color: #CE0055;
                    }
                    &:nth-of-type(3) {
                        color: #51115F;
                    }
                    &:nth-of-type(4) {
                        color: #955995;
                    }
                    &:nth-of-type(5) {
                        color: #A0EAF7;
                    }
                    &:nth-of-type(6) {
                        color: #34CFFF;
                    }
                }
            }
            p {
                margin: 3px;
                font-size: 18px;
                font-family: $normalFont;
            }
            .bold {
                font-weight: bold;
            }
        }
        h2 {
            font-size: 24px;
            font-family: $condensedFont;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            text-align: justify;
            font-size: 15px;
            letter-spacing: 0;
            padding: 5px;
        }
        .gui-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px auto;
            label {
                display: none;
            }
            input {
                text-align: center;
                display: block;
                margin: 5px auto;
                padding: 7px;
                font-size: 16px;
                width: 80%;
                font-family: $normalFont;
                border: none;
                border-bottom: 3px #EAEAEA solid;
                background-color: #EAEAEA;
                @include shadow(1);
                transition: 0.2s ease-in-out all;
                &:hover {
                    @include shadow(2);
                }
                &:focus {
                    border-bottom: 3px #EC1B2D solid;
                }
            }
            .rememberme {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                input {
                    display: inline-block;
                    width: auto;
                    @include shadow(0);
                }
                label {
                    display: inline-block;
                    font-size: 15px;
                    color: #444444;
                }
            }
            .submit {
                background-color: #EC1B2D;
                color: #FFFFFF;
                border: none;
                border-radius: 3px;
                text-transform: uppercase;
                &:hover {
                    background-color: #C01924;
                    border: none;
                    @include shadow(2);
                }
            }
        }
        &-menu {
            .gui-menu-flatcard {
                @include shadow(1);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #EAEAEA;
                border-bottom: #EAEAEA solid 3px;
                margin: 5px;
                padding: 8px 20px;
                transition: all 0.2s ease-in-out;
                color: #444444;
                text-decoration: none;
                &:hover {
                    @include shadow(2);
                    border-bottom: #EC1B2D solid 3px;
                }
                &.last {
                    margin-top: 20px;
                }
                .material-icons {
                    color: #EC1B2D;
                }
                p {
                    width: 220px;
                    text-align: center;
                }
            }
        }
        &.gui-user {
            display: flex;
            align-items: center;
            justify-content: center;
            .profile-picture {
                height: 60px;
                clip-path: circle(50% at 50% 50%);
            }
            .gui-user-container {
                width: 240px;
                margin: 0 10px;
                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                p {
                    color: #444444;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }
            }
            .gui-logoff {
                @include shadow(1);
                border-radius: 50%;
                padding: 5px;
                width: 51px;
                text-align: center;
                margin-left: 10px;
                color: #EC1B2D;
                border: 3px #EC1B2D solid;
                transition: all 0.2s ease-in-out;
                &:hover {
                    @include shadow(2);
                    color: #C01924;
                    border: 3px #C01924 solid;

                }
            }
        }
    }
}

.gui-picture-author {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #444444;
    font-size: 14px;
    user-select: none;
}

/* endregion */
