{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/heading.twig" %}
    <section class="gui-box">
        <h2>Log in</h2>
        <form class="gui-form" action="/login" method="POST">
            <label for="loginField">Log in to your staff account</label>
            <input placeholder="login"
                   type="text"
                   name="login"
                   id="loginField"
                   aria-required="true"
                   required>
            <label class="invisible" for="passwordField">Password</label>
            <input placeholder="password"
                   type="password"
                   name="password"
                   id="passwordField"
                   aria-required="true"
                   required>
            <div class="rememberme">
                <input type="checkbox" aria-checked="mixed" name="remember" id="rememberMeField">
                <label for="rememberMeField">Remember me</label>
            </div>
            <input class="submit" type="submit" value="Log in">
        </form>
    </section>
    {% if error %}
        <section class="gui-box gui-warning">
            <p>{{error}}</p>
        </section>
        {#
        <section class="gui-box gui-success">
            <p>Typical success message</p>
        </section>
        #}
    {% endif %}
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}