.gui-picture-author {
    bottom: 10px;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 10px;
    user-select: none;
}

.landing {
    .gui-picture-author {
        display: none;
    }
}