{% include "common/header.twig" %}

<div class="gui-container">
    {% include "common/heading.twig" %}
    <div class="gui-box">
        <h2>Profiles management</h2>
    </div>
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}