.gui-box {
    &-menu {
        .gui-menu-flatcard {
            @include shadow(1);
            align-items: center;
            background-color: #EAEAEA;
            border-bottom: #EAEAEA solid 3px;
            color: #444444;
            display: flex;
            justify-content: center;
            margin: 5px auto;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            width: 280px;
            &:hover {
                @include shadow(2);
                border-bottom: #EC1B2D solid 3px;
            }
            &.last {
                margin-top: 20px;
            }
            .material-icons {
                color: #EC1B2D;
            }
            .menutext {
                text-align: center;
                width: 220px;
            }
            user-select: none;
        }
    }
}
