/* region UNIVERSAL GUI */

.gui-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* region GUI BOX */
    .gui-box {
        @include shadow(1);
        background-color: rgba(255, 255, 255, 0.9);
        margin: 2px;
        min-height: 50px;
        width: 350px;
        padding: 10px 20px;
        max-height: 80vh;
        overflow-y: auto;

        &.gui-warning {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background-color: rgba(236, 27, 45, 0.9);
        }
        &.gui-success {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background-color: rgba(0, 199, 0, 0.9);
        }

        h2 {
            font-size: 24px;
            font-family: $condensedFont;
            text-align: center;
            margin-bottom: 10px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        h3 {
            color: #666666;
            font-size: 16px;
            text-align: center;
        }
        p {
            text-align: justify;
            font-size: 15px;
            letter-spacing: 0;
            padding: 5px;
        }
        /* region GUI FORM */
        .gui-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px auto;
            .invisible {
                display: none;
            }
            h3 {
                font-family: $condensedFont;
                font-size: 16px;
                text-align: center;
            }
            label {
                font-family: $normalFont;
                font-size: 14px;
                margin: 3px 0 4px;
                text-align: center;
                user-select: none;
            }
            input {
                text-align: center;
                display: block;
                margin: 3px auto;
                padding: 8px;
                font-size: 16px;
                width: 280px;
                font-family: $normalFont;
                border: none;
                border-bottom: 3px #EAEAEA solid;
                background-color: #EAEAEA;
                @include shadow(1);
                transition: 0.2s ease-in-out all;
                &:disabled {
                    background-color: #BBBBBB;
                    border-bottom: 3px #BBBBBB solid;
                }
                &:disabled:hover {
                    @include shadow(1);
                    cursor: not-allowed;
                }
                &:hover {
                    @include shadow(2);
                    cursor: pointer;
                }
                &:focus {
                    border-bottom: 3px #EC1B2D solid;
                }
            }

            .rememberme {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 2px auto;
                width: 150px;
                text-align: center;
                input {
                    @include shadow(1);
                    background-color: #EAEAEA;
                    border: none;
                    color: #EC1B2D;
                    display: inline-block;
                    cursor: pointer;
                    height: 25px;
                    margin-right: 7px;
                    outline: none;
                    position: relative;
                    width: 25px;
                    &:checked::before {
                        color: #EC1B2D;
                        content: '\02143';
                        font-weight: 800;
                        left: 8px;
                        position: absolute;
                        top: 2px;
                        transform: rotate(40deg);
                    }
                    &:hover {
                        @include shadow(2);
                        background-color: #EAEAEA;
                        border: none;
                    }
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                label {
                    display: inline-block;
                    font-size: 15px;
                    width: 120px;
                    color: #444444;
                    user-select: none;

                }
            }
            .submit {
                background-color: #EAEAEA;
                border-bottom: 3px #EAEAEA solid;
                color: #292929;
                &:hover {
                    background-color: #EAEAEA;
                    border: none;
                    border-bottom: 3px #EC1B2D solid;
                    @include shadow(2);
                }
            }
            &-element {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 5px auto;
                max-width: 300px;
                input {
                    margin: 0 5px;
                    width: 145px;
                }
            }
        }
        /* endregion */
        &-menu {
            .gui-menu-flatcard {
                @include shadow(1);
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px auto;
                background-color: #EAEAEA;
                border-bottom: #EAEAEA solid 3px;
                width: 280px;
                padding: 8px 20px;
                transition: all 0.2s ease-in-out;
                color: #444444;
                text-decoration: none;
                &:hover {
                    @include shadow(2);
                    border-bottom: #EC1B2D solid 3px;
                }
                &.last {
                    margin-top: 20px;
                }
                .material-icons {
                    color: #EC1B2D;
                }
                p {
                    width: 220px;
                    text-align: center;
                }
            }
        }
        &-panel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            max-width: 290px;
            .invisible {
                display: none;
            }
            .box-panel-input,
            .box-panel-select {
                background-color: #EAEAEA;
                border: none;
                border-bottom: 3px #EAEAEA solid;
                display: block;
                font-family: $normalFont;
                font-size: 16px;
                margin: 2px auto;
                padding: 8px;
                text-align: center;
                transition: 0.2s ease-in-out all;
                @include shadow(1);
                width: calc(30% - 8px);
                &:disabled {
                    background-color: #BBBBBB;
                    border-bottom: 3px #BBBBBB solid;
                }
                &:disabled:hover {
                    @include shadow(1);
                    cursor: not-allowed;
                }
                &:hover {
                    @include shadow(2);
                    cursor: pointer;
                }
                &:focus {
                    border-bottom: 3px #EC1B2D solid;
                }
            }
            .box-panel-select {
                width: calc(100% - 8px);
            }
            .box-panel-flatcard {
                align-items: center;
                @include shadow(1);
                background-color: #EAEAEA;
                border: 0;
                border-bottom: #EAEAEA solid 3px;
                color: #444444;
                display: flex;
                font-family: $normalFont;
                font-size: 14px;
                justify-content: center;
                margin: 3px auto;
                padding: 8px 20px;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                width: 136px;
                &:hover {
                    @include shadow(2);
                    border-bottom: #EC1B2D solid 3px;
                }
                &.longer {
                    width: calc(70% - 8px);
                }
                &.disabled {
                    background-color: #DDDDDD;
                    border-bottom: #DDDDDD solid 3px;
                    color: #666666;
                    cursor: not-allowed;
                    &:hover {
                        @include shadow(1);
                        border-bottom: #DDDDDD solid 3px;
                    }
                    .material-icons {
                        color: #292929;
                    }
                }
                .material-icons {
                    color: #EC1B2D;
                }
                p {
                    display: block;
                    text-align: center;
                    width: 80%;
                }
                user-select: none;
            }
        }
        .gui-box-section {
            h3 {
                color: #444444;
                font-family: $condensedFont;
                font-size: 20px;
                margin-top: 10px;
                text-align: center;
            }
            p {
                color: #444444;
                text-align: center;
            }
            .detail {
                color: #EC1B2D;
                font-family: 'Bahnschrift', $condensedFont;
                font-size: 20px;
            }
        }

        .train-details {
            color: #444444;
            line-height: 0.6;

            .train-name {
                font-family: $titleFont;
                font-size: 24px;
            }
            p {
                text-align: center;
            }
        }
        .gui-timetable {
            margin: 10px 0;
            width: 100%;
            .row {
                font-family: "Bahnschrift", $condensedFont;
                line-height: 1.2;
                text-align: center;
                .distance {
                    width: 30%;
                }
                .object {
                    width: 70%;
                }
                &.city {
                    color: #444444;
                    font-size: 24px;
                }
                &.town {
                    color: #444444;
                    font-size: 20px;
                }
                &.commuter {
                    color: #006C33;
                    font-size: 18px;
                }
                &.rail {
                    color: #666666;
                    font-size: 16px;
                }
                &.river {
                    color: #A442F4;
                    font-size: 16px;
                }
                &.motorway {
                    color: #266CB1;
                    font-size: 16px;
                }
                &.road {
                    color: #E8C400;
                    font-size: 16px;
                }
            }

        }
    }
    /* endregion */
}

.gui-picture-author {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #444444;
    font-size: 14px;
    user-select: none;
}

/* endregion */

/* region DRIVE */

/* endregion */