<footer class="gui-box footer">
    <div class="footer-icons">
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
    </div>
    <p class="footer-projectname"><span class="bold">Digitale Schiene</span> Deutschland</p>
</footer>