<footer class="gui-box footer-box">
    <div class="icon-container">
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
        <span class="icon">#</span>
    </div>
    <p><span class="bold">Digitale Schiene</span> Deutschland</p>
</footer>