<section class="gui-box gui-user">
    <img class="profile-picture" src="../img/automated/profilepics/profile.jpg" alt="profile picture">
    <div class="gui-user-container">
        <h2>Name Surname</h2>
        <p>Administrator</p>
        <p>DB Fernverkehr</p>
    </div>
    <a class="gui-logoff" href="logoff"><span class="material-icons">exit_to_app</span></a>
</section>