/*
 Holds title thought font
 */
$titleFont: "Deutsche Bahn Title Font", sans-serif;

/*
 Holds normal font for text
 */
$normalFont: "Roboto", sans-serif;

/*
 Holds condensed font for box titles
 */
$condensedFont: "Roboto Condensed", sans-serif;