{% include "common/header.twig" %}

<div class="gui-container">
    {% include "common/heading.twig" %}
    <section class="gui-box">
        <div class="train-details">
            <p class="train-name">InterCity 44</p>
            <p>Max Planck</p>
            <p>Berlin Hbf - Praha Hl.N.</p>
            <p>Actual train delay: 5 min</p>
            <p>DB Fernverkehr</p>
        </div>
    </section>
    <section class="gui-box">
        <h2>Train Control Panel</h2>
        <div class="gui-box-section">
            <h3>Station switcher</h3>
            <p>Next station: <span class="detail">Munich HBF</span></p>
            <div class="gui-box-panel">
                <a href="prev/" class="box-panel-flatcard">
                    <span class="material-icons">keyboard_arrow_left</span>
                    <p>Previous</p>
                </a>
                <a href="next/" class="box-panel-flatcard disabled">
                    <p>Next</p>
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
            </div>
        </div>
        <div class="gui-box-section">
            <h3>Delay updater</h3>
            <p>Actual train delay: <span class="detail">5 min</span></p>

            <form action="drive" method="post" class="gui-box-panel">
                <label class="invisible" for="reason">Reason of latency</label>
                <select class="box-panel-select" name="reason" id="reason">
                    <option value="" disabled>Reason of latency</option>
                    <option value="1">Unit failure</option>
                    <option value="2">PZB Emergency</option>
                    <option value="3">LZB Emergency</option>
                    <option value="4">AFB Emergency</option>
                    <option value="5">Passenger fault</option>
                    <option value="6">Other</option>
                </select>
                <label for="delay"></label>
                <input min="0" id="delay" type="number" class="box-panel-input">
                <input type="submit" class="box-panel-flatcard longer" value="Send delay to the system">
            </form>
        </div>

        <ul class="gui-box-menu">
            <li title="Opens new window">
                <a class="gui-menu-flatcard last" href="/destinationboards" target="_blank">
                    <span class="material-icons">dvr</span>
                    <p>Destination boards</p>
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
            </li>
            <li>
                <a class="gui-menu-flatcard" href="">
                    <span class="material-icons">local_printshop</span>
                    <p>Ticket sell</p>
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
            </li>
            <li>
                <a class="gui-menu-flatcard last" href="/panel">
                    <span class="material-icons">keyboard_arrow_left</span>
                    <p>Back to applications</p>
                    <span class="material-icons">apps</span>
                </a>
            </li>
        </ul>
    </section>
    {% include "common/footing.twig" %}
</div>
<div class="gui-container">
    {% include "common/gui-user.twig" %}
    <section class="gui-box">
        <h2>Line object list</h2>
        <h3>KBS330 Munich HBF - Garmich HBF</h3>
        <table class="gui-timetable">
            <tr class="row city">
                <td class="distance">1.2</td>
                <td class="object">Station</td>
            </tr>
            <tr class="row town">
                <td class="distance">1.2</td>
                <td class="object">Only stop</td>
            </tr>
            <tr class="row commuter">
                <td class="distance">1.4</td>
                <td class="object">S-Bahn station</td>
            </tr>
            <tr class="row rail">
                <td class="distance">1.2</td>
                <td class="object">Rail element</td>
            </tr>
            <tr class="row river">
                <td class="distance">1.2</td>
                <td class="object">River</td>
            </tr>
            <tr class="row motorway">
                <td class="distance">1.2</td>
                <td class="object">Autobahn</td>
            </tr>
            <tr class="row road">
                <td class="distance">1.2</td>
                <td class="object">Nationalweg</td>
            </tr>
            <tr class="row city">
                <td class="distance">1.2</td>
                <td class="object">Station</td>
            </tr>
            <tr class="row town">
                <td class="distance">1.2</td>
                <td class="object">Only stop</td>
            </tr>
            <tr class="row commuter">
                <td class="distance">1.4</td>
                <td class="object">S-Bahn station</td>
            </tr>
            <tr class="row rail">
                <td class="distance">1.2</td>
                <td class="object">Rail element</td>
            </tr>
            <tr class="row river">
                <td class="distance">1.2</td>
                <td class="object">River</td>
            </tr>
            <tr class="row motorway">
                <td class="distance">1.2</td>
                <td class="object">Autobahn</td>
            </tr>
            <tr class="row road">
                <td class="distance">1.2</td>
                <td class="object">Nationalweg</td>
            </tr>
            <tr class="row city">
                <td class="distance">1.2</td>
                <td class="object">Station</td>
            </tr>
            <tr class="row town">
                <td class="distance">1.2</td>
                <td class="object">Only stop</td>
            </tr>
            <tr class="row commuter">
                <td class="distance">1.4</td>
                <td class="object">S-Bahn station</td>
            </tr>
            <tr class="row rail">
                <td class="distance">1.2</td>
                <td class="object">Rail element</td>
            </tr>
            <tr class="row river">
                <td class="distance">1.2</td>
                <td class="object">River</td>
            </tr>
            <tr class="row motorway">
                <td class="distance">1.2</td>
                <td class="object">Autobahn</td>
            </tr>
            <tr class="row road">
                <td class="distance">1.2</td>
                <td class="object">Nationalweg</td>
            </tr>
            <tr class="row city">
                <td class="distance">1.2</td>
                <td class="object">Station</td>
            </tr>
            <tr class="row town">
                <td class="distance">1.2</td>
                <td class="object">Only stop</td>
            </tr>
            <tr class="row commuter">
                <td class="distance">1.4</td>
                <td class="object">S-Bahn station</td>
            </tr>
            <tr class="row rail">
                <td class="distance">1.2</td>
                <td class="object">Rail element</td>
            </tr>
            <tr class="row river">
                <td class="distance">1.2</td>
                <td class="object">River</td>
            </tr>
            <tr class="row motorway">
                <td class="distance">1.2</td>
                <td class="object">Autobahn</td>
            </tr>
            <tr class="row road">
                <td class="distance">1.2</td>
                <td class="object">Nationalweg</td>
            </tr>
            <tr class="row city">
                <td class="distance">1.2</td>
                <td class="object">Station</td>
            </tr>
            <tr class="row town">
                <td class="distance">1.2</td>
                <td class="object">Only stop</td>
            </tr>
            <tr class="row commuter">
                <td class="distance">1.4</td>
                <td class="object">S-Bahn station</td>
            </tr>
            <tr class="row rail">
                <td class="distance">1.2</td>
                <td class="object">Rail element</td>
            </tr>
            <tr class="row river">
                <td class="distance">1.2</td>
                <td class="object">River</td>
            </tr>
            <tr class="row motorway">
                <td class="distance">1.2</td>
                <td class="object">Autobahn</td>
            </tr>
            <tr class="row road">
                <td class="distance">1.2</td>
                <td class="object">Nationalweg</td>
            </tr>
            <tr class="row city">
                <td class="distance">1.2</td>
                <td class="object">Station</td>
            </tr>
            <tr class="row town">
                <td class="distance">1.2</td>
                <td class="object">Only stop</td>
            </tr>
            <tr class="row commuter">
                <td class="distance">1.4</td>
                <td class="object">S-Bahn station</td>
            </tr>
            <tr class="row rail">
                <td class="distance">1.2</td>
                <td class="object">Rail element</td>
            </tr>
            <tr class="row river">
                <td class="distance">1.2</td>
                <td class="object">River</td>
            </tr>
            <tr class="row motorway">
                <td class="distance">1.2</td>
                <td class="object">Autobahn</td>
            </tr>
            <tr class="row road">
                <td class="distance">1.2</td>
                <td class="object">Nationalweg</td>
            </tr>
        </table>
    </section>
</div>


{% include "common/footer.twig" %}