{% include "common/header-landing.twig" %}

<nav class="landing-nav">
    <h1 class="title"><img src="img/logos/db-logo.png" alt="Deutsche Bahn logo" class="logo">Netze</h1>
    <ul class="link-container">
        <li class="link-element"><a href="">Home</a></li>
        <li class="link-element"><a href="">IT</a></li>
        <li class="link-element"><a href="">Knowledge</a></li>
        <li class="link-element"><a href="">BETA</a></li>
        <li class="link-element"><a href="">Contact</a></li>
    </ul>
</nav>
<section class="landing-hero">

</section>

<section class="landing-sizer"></section>

{% include "common/footer.twig" %}