{% include "common/header.twig" %}
<div class="display">
    <div>
        <div class="trainnumber">
            <p><span>ICE 340</span> Max Planck</p>
            <p><span class="material-icons">train</span><span>32</span></p>
        </div>
        <hr/>
    </div>
    <div class="nextstation">
        <hr/>
        <p><span>12:40</span>Frankfurt (M) Hbf</p>
        <p class="next"><span>Uber:</span>13:40 Bitterfeld, 13:55 Lutherstadt Wittenberg, 15:04 Berlin Sudkreuz</p>
        <hr/>
    </div>

</div>

{% include "common/footer.twig" %}